# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend
/node_modules
.vscode/
/.pnp
.pnp.js

# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json


npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.json
/src
/public
build/static/css/*.map
build/static/js/*.map
static.json 
react-app-env.*
